:root {
    --bg: #edf3ff;
    --color-1: #3e485c;
    --color-2: #4174d9;
}

body {
    background-color: var(--bg);
    padding: 0;
    margin: 0;
}

/* HEADER / NAV BAR STYLES START */
header {
	display: flex;
	justify-content: space-between;
	background-color: var(--color-1);
	height: 85px;
	align-items: center;
	top: 0;
	z-index: 9999;
}

.name {
	display: flex;
	padding: 0;
	margin: 0;
}

.name a {
	color: var(--color-1);
    text-decoration: none;
}

h1 {
	margin: 0;
	padding: 5px 15px 5px 30px;
	background-color: var(--color-2);
	font-size: 40px;
}

nav ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-left: 0;
	align-items: flex-end;
}

nav ul li {
	padding: 10px;
	margin: 5px;
	font-size: 16px;
}

nav ul li a {
	color: var(--color-2);
    text-decoration: none;
    border-bottom: 4px solid var(--color-2);
}
/* End Header/navbar*/

/* HERO STYLES START */
.hero {
    height: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/hero-bg.jpeg");
    background-size: cover;
    background-position: center;
}

.subtitle {
    color: var(--color-1);
    background-color: var(--color-2);
    margin: 50px 75px;
    padding: 15px;
    font-size: 25px;
}
/* HERO STYLES END */

/* STYLE ALL SECTION TAGS */

section {
    display: flex;
    color: var(--color-1);
    background-color: var(--bg);
    padding: 36px 0px 10px 0px;
}

.titles {
    flex: 0 0 auto;
    padding: 5px 10px;
    border-right: 4px solid var(--color-1);
    width: 150px;
    margin: 0 35px 0 35px;
}

h2 {
    padding: 0;
    margin: 0;
    font-size: 40px;
    text-align: right;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.project1 {
    width: 80vw;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    border: 4px solid var(--color-2);
    opacity: 0.5;
    position: relative;
    min-height: 400px;
}

.small-projects {
    display: flex;
    flex-wrap: wrap;
}


.project {
    margin: 8px;
    padding: 0;
    height: 170px;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    border: 4px solid var(--color-2);
    opacity: 0.5;
    position: relative;
    width: 40vw;
}

.project:hover {
    opacity: 1.0;
}

.project1:hover {
    opacity: 1.0;
}

.project a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.project-name {
    background-color: var(--color-2);
    padding: 20px 10px 10px 10px;
    margin: 0;
    margin-bottom: 20px;
}

h3 {
    padding: 0;
    padding-bottom: 12px;
    margin: 0;
    font-size: 20px;
}

.project-name p {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

#surf-report {
    background-image: url("../images/surf-report.jpeg");
}


#led-wall {
    background-image: url("../images/LED-Wall.png");
}

#calculator {
    background-image: url("../images/calculator.jpeg");
}

#pastel {
    background-image: url("../images/puzzel.webp");
}

#run-buddy {
    background-image: url("../images/run-buddy.jpeg");
}

/* contact me*/

.contact {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
}

.contact ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    flex: 1;
    margin-right: 60px;
    flex-wrap: wrap;
    list-style: none;
}

.contact ul li {
    padding: 5px;
    margin: 2px;
    border-bottom: 4px solid var(--color-1);
    font-size: 16px;
}

.contact a {
    color: var(--color-1);
    text-decoration: none;
}

/* media queries */

@media screen and (max-width: 980px) {
     
}